
a.delete_metavalue{
	display:inline-block;
	text-decoration:none;
	width:16px;
}
/* imagef */
.image_container{
	width:150px;
	height:150px;
	border-radius: 3px;
	border:1px solid #f1f1f1;
	display:none;
}

.image_container ul{
	position:relative;
	left:10px;
	top:0px;
	display:none;
}

.image_container:hover ul{
	display:block;
}

.image_container li{
	border-radius: 50%;
	border:1px solid #c0c0c0;
	background:white;
	text-align: center;
	cursor:pointer;
}

.image_container li:hover{
	color:#2EA2CC;
	border:1px solid #2EA2CC;
}

.image_container li.genericon-trash:hover{
	color:#E17341;
	border:1px solid #E17341;
}
}


/* combination */

.combitable td{
	vertical-align: top;
	border-bottom:1px solid #DFDFDF;
	
}
.combitable td:last-child a{
display:none	
}

.combitable:hover td:last-child a{
display:block;	
}



/****** METAFIELD CSS ***********/
.metafield-wrapper{
	width:100%;
	margin-bottom: 15px;
}

.metafield-wrapper  .metafield-box{
	border:1px solid  #DFDFDF;
	border-radius:2px;
}

.metafield-wrapper  .metafield-label{
	text-shadow: 0 1px 0 #fff;
	padding:6px;
	font-size:13px;
	font-style:italic;
	background:#ededed;
	color:#333333;
	font-family: Georgia,'Times New Roman','Bitstream Charter',Times,serif;
}

.metafield-wrapper  .metafield-body{
	padding:10px;
}

.metafield-wrapper  .metafield-value{
	padding:4px;
	border-bottom:0px solid #DFDFDF;
	sheight:inherit;
	margin-bottom:6px;
}

.metafield-wrapper  .metafield-value label{
	display:inline-block;
	font-size:10px;
}

.metafield-wrapper  .metafield-add{
	padding:0px 0px 10px 10px;
}
